@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Avenir';
    font-style: normal;
    src: url(/src/assets/fonts/AvenirLTStd.otf) format('otf');
  }
}

@font-face {
  font-family: 'Circularstd';
  font-style: normal;
  src: url(/src/assets/fonts/CircularStd-Medium.otf) format('otf');
}

@font-face {
  font-family: 'Dmsans';
  font-style: normal;
  src: url(/src/assets/fonts/DMSans24pt-Regular.otf) format('otf');
}
